1- face_recognition library --> move with steps in this link https://www.geeksforgeeks.org/how-to-install-face-recognition-in-python-on-windows/
2- qrcode 8.1 --> pip install qrcode
3- opencv-python
4- pyzbar --> cpip install pyzbar 
5-openpyxl --> pip install openpyxl
